<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <p><a href="/new">Search</a></p>
  <section class="book-results">
    <% books.forEach(book => { %>
      <%- include('books/detail', {bookInfo: book}) %>
      <div><a href="/books/<%= book.id %>">View Details</a></div>
    <% }) %>
    <h3><%= books.length %></h3>
  </section>
</body>
</html>