h1 {
  font-size: 2em;
  color: white;
  text-align: center;
}

ul {
  display: flexbox;
  width: 80%;
  margin: auto;
  text-align: center;
}

ul li {
  margin: 1em;
}

.desc {
  width: 50%;
  margin: 1em auto;
}