.nav-section {
  position: relative;
  background-color: #3f1052;
  width: 100%;
  text-align: right;
}

.nav-section a {
  text-decoration: none;
  color: #b19bca; 
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 10px;
  top: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu div{
  width: 40px;
  height: 5px;
  margin: 3px auto 3px auto;
  background-color: #9f84be;
  transition: all 300ms ease-in-out;
}

.menu:hover div{
  background-color: #735994;
}

.menu:active div{
  background-color: #2e0d49;
}

nav {
  text-align: center;
  transition: all 300ms ease-in-out;
}

.nav-hide {
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  opacity: 0;
}
.nav-reveal {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); 
  opacity: 1;
}

nav ul li {
  border: 1px solid #120716;
  padding: 0.5em;
  background-color: #3f1052;
  transition: all 300ms ease-in-out;
}

nav ul li:last-child {
  border-top: 0;
}

nav ul li:hover {
  background-color: #350949; 
}
